<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.text_field :paid %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :date_received %><br />
    <%= f.text_field :date_received %>
  </div>
  <div class="field">
    <%= f.label :notax %><br />
    <%= f.text_field :notax %>
  </div>
  <div class="field">
    <%= f.label :audit %><br />
    <%= f.text_field :audit %>
  </div>
  <div class="field">
    <%= f.label :timestamp %><br />
    <%= f.text_field :timestamp %>
  </div>
  <div class="field">
    <%= f.label :check_number %><br />
    <%= f.text_field :check_number %>
  </div>
  <div class="field">
    <%= f.label :saved %><br />
    <%= f.text_field :saved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
