<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @item.id %>
</p>

<p>
  <b>Requestedon:</b>
  <%= @item.requestedon %>
</p>

<p>
  <b>Ticketnum:</b>
  <%= @item.ticketnum %>
</p>

<p>
  <b>Parturl:</b>
  <%= @item.parturl %>
</p>

<p>
  <b>Shipping:</b>
  <%= @item.shipping %>
</p>

<p>
  <b>Deststore:</b>
  <%= @item.deststore %>
</p>

<p>
  <b>Orderedby:</b>
  <%= @item.orderedby %>
</p>

<p>
  <b>Orderedon:</b>
  <%= @item.orderedon %>
</p>

<p>
  <b>Trackingnum:</b>
  <%= @item.trackingnum %>
</p>

<p>
  <b>Receivedon:</b>
  <%= @item.receivedon %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
